/.idea/
/venv/
.venv/
.history/
.DS_Store
.gitignore
spider_train_14_6_23.zip
psql_schema_data_dumps
get_random_queries.py
csv_to_json.py
nl_sparql_pairs/train/train_nl_sparql_old.csv
100_random_few_shot_samples_original.json
psql_schema_data_dumps.zip
now
```